<header>
  <nav class="navbar">
      <ul>
        <li style="--clr:#00ade1">
          <a href="#" data-text="Inicio">Inicio</a>
        </li>
        <li style="--clr:#23A6A3">
          <a href="#" data-text="Inicio">Examenes</a>
        </li>
        <li style="--clr:#C6AEEC">
          <a href="#" data-text="Inicio">Preguntas</a>
        </li>
      </ul>
      <div class="auth-container">
        <ul>
          <li class="auth-item" style="--clr:#F09D88">
            <a href="#" data-text="Iniciar sesión">Iniciar sesión</a>
          </li>
          <li class="auth-item" style="--clr:#E2F55B">
            <a href="#" data-text="Registrarse">Registrarse</a>
          </li>
        </ul>
      </div>
  </nav>
</header>
